.navbar-icon img{ 
    width: 60px;
    padding-right: 15px; 
    border-radius: 50%;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
    
}

.navbar-icon { 
    color: black;
    font-size: 20px !important;
} 

.navbar { 
    background: url("../images/background3.png"); 
    background-size: cover; 
} 

.navbar a:hover { 
    text-decoration: none;
}

.jumbotron { 
    background: url("../images/img2.jpg");
    background-size: cover; 
    text-align: center; /*  puts text in the centre*/
    color: white;
    height: calc(100vh - 30px);
}

.jumbotronContent { 
    background-color: rgba(245, 168, 187, 0.75); /* first 3 numbers are the amount ofred, green and blue that makes up colour*/
    padding: 20px; /*^^ 4th number is opacitity, 0 being transparent and 1 being opaque */
    width: fit-content; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px; 
} 

.aboutMe img { 
    height: 40vh;
    width: 40vh;  
    object-fit: cover;
    border-radius: 50%; 
    border: 5px solid rgba(245, 168, 187);
}

.aboutMe { 
    display: flex; 
    align-items: center; 
    width: 75vw; /* makes this section take up 75% of screen(from left to right), leaving a blank space at the end towards right */
    margin-left: 12.5vw; /* adds 12.5vw space towards the left, pushing content towards middle */ 
}
.aboutMe h5 {
    font-size: 2.5rem;
}

.skillsSection, .projectSection { 
    margin: 5%;
} 

.skillsSection h1{ 
    display: flex;
    justify-content: center;
}

.skillsCard img { 
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.project1 img { 
    height: 50vh;
    object-fit: cover;
    object-position: cover;
    width: 100%; 
    object-fit: cover;
}

.row2projects img, 
.row3projects img { 
    height: 30vh; /* makes height 30% of viewport height */
    object-fit: cover; /* prevents image from being stretched to fit height, so zooms in  */
    object-position: top; /* shows the top part of the image */
    width: 100%;
}

.projectSection h1 { 
    display: flex;
    justify-content: center;
}

.project1, 
.project2, 
.project3, 
.project4,
.project5 {
    border: 5px solid rgba(245, 168, 187);
}