.navbar-icon img{ 
    width: 60px;
    padding-right: 15px;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
    
}

.navbar-icon { 
    color: black;
    font-size: 20px;
} 

.navbar { 
    background: url("../images/background3.png"); 
    background-size: cover; 
} 

.navbar a:hover { 
    text-decoration: none;
}

.jumbotron { 
    background: url("../images/img2.jpg");
    background-size: cover; 
    text-align: center; /*  puts text in the centre*/
    color: white;
    height: calc(100vh - 30px);
}

.jumbotronContent { 
    background-color: rgba(245, 168, 187, 0.75); /* first 3 numbers are the amount ofred, green and blue that makes up colour*/
    padding: 20px; /*^^ 4th number is opacitity, 0 being transparent and 1 being opaque */
    width: fit-content; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px; 
} 

.project1 img { 
    height: 50vh;
    object-fit: cover;
    object-position: cover;
    width: 100%;
}

.row2projects img, 
.row3projects img { 
    height: 30vh; /* makes height 30% of viewport height */
    object-fit: cover; /* prevents image from being stretched to fit height, so zooms in  */
    object-position: top; /* shows the top part of the image */
    width: 100%;
}

.skillsCard img { 
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
